Hostname: {{ hostvars[host].ansible_net_hostname }}
IOS Type: {{ hostvars[host].ansible_net_iostype }}
Version: {{ hostvars[host].ansible_net_version }}
Model: {{ hostvars[host].ansible_net_model }}
Serial: {{ hostvars[host].ansible_net_serialnum }}