NXOS device info:
------------------------------------------------
{% for host in groups['devnet_nxos'] %}
Hostname: {{ hostvars[host].ansible_net_hostname }}
Version: {{ hostvars[host].ansible_net_version }}
Model: {{ hostvars[host].ansible_net_model }}
Serial: {{ hostvars[host].ansible_net_serialnum }}
------------------------------------------------
{% endfor %}

IOS device info:
------------------------------------------------
{% for host in groups['devnet_ios'] %}
Hostname: {{ hostvars[host].ansible_net_hostname }}
Version: {{ hostvars[host].ansible_net_version }}
Model: {{ hostvars[host].ansible_net_model }}
Serial: {{ hostvars[host].ansible_net_serialnum }}
------------------------------------------------
{% endfor %}